<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
  <div>
  <% if (results.length == 0) { %>
  <h1> No tenes reseñas </h1>
  <% } else { %>
   <h1> Reseñas de  <%= resultado[0].usuario.name %> </h1>



 <% for ( let i = 0; i < resultado.legth; i++) {%>
 <div> resultado[i].puntaje %> </div>
 <div> <h4> <%= resultado[i].resena %></h4> </div>
<a href="/users/review/edit/<%= resultado[i].id %> Editar </a>
<a href="/detalle?idPelicula=<%= resultado[i].pelicula_id %> "> Ir a la pelicula </a>
<% } %>
</body>
</html>